.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin: 5rem 0 3rem 0;
}

.card {
    background-color: var(--white);
    width: 100%;
    border-radius: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    padding: 1.5rem;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    color: var(--dark-grayish-cyan);
    font-size: 1.5rem;
    font-weight: 700;
}

.error-msg {
    color: var(--red);
    font-weight: 700;
    font-size: 1.5rem;
}

.inp-text {
    background-color: var(--light-grayish-cyan);
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    color: var(--very-dark-cyan);
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    text-align: right;
    padding: 0.5rem 2.4rem;
}

.inp-text:focus {
    outline: none;
    border: 2px solid var(--very-dark-cyan);
}

.inp-container {
    position: relative;
}
 
.inp-container img {
     position: absolute;
     left: 2rem;
     top: 1.5rem;
 }

 /* Select Tip % */

 .tip-options-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    
 }

 .tip-options {
     background-color: var(--very-dark-cyan);
     width: 46%;
     border-radius: 0.5rem;
     font-size: 2.4rem;
     text-align: center;
     color: var(--white);
     padding: 1.2rem;
     margin: 1rem 1rem 1rem 0;
 }

.active-tip {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan)
}


.inp-custom-tip {
    width: 46%;
    text-align: center;
}
 
.output {
    background-color: var(--very-dark-cyan);
    width: 100%;
    border-radius: 2.5rem;
    padding: 2.2rem;
    margin-top: 2rem;
}


.tip-amount-price-container {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 1.4rem 0;
}

.value {
    display:inline-block;
    width: 100px;
    height: 50px;
    text-align: end;
    font-size: 3rem;
    color: var(--strong-cyan);
    margin-left: 9rem;
}

.output-title {
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
}

.per-person {
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 1.3rem;
}

.reset-button {
    margin-top: 1.4rem;
    text-align: center;
    padding: 1.2rem;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}